<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue/vue.js"></script>
    <!--<script src="http://unpkg.com/vue/dist/vue.js"></script> -->
</head>
<body>
<h1>组件</h1>
组件：自定义事件

<div id="counter-event-example">
    <p>{{total}}</p>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter @increment="incrementTotal"></button-counter>
</div>

<script>
    Vue.component('button-counter',{
        template:'<button v-on:click="increment">{{counter}}</button>',
        data:function(){
            return {counter:0}
        },
        methods:{
            increment:function(){
                this.counter+=1
                this.$emit('increment')
            }
        }
    })
    new Vue({
        el:'#counter-event-example',
        data:{
            total:0
        },
        methods:{
            incrementTotal:function(){
                this.total+=1
            }
        }
    })
</script>

使用自定义事件的表单输入组件
<div id="vmodel">
    v-model:<br>
    <input v-model="something">
    {{something}} <br>
    inside v-model:<br>
    <input :value="something" @input="something=$event.target.value">
    {{something}} <br>
    custum-input:<br>
    <custom-input v-model="something"></custom-input><br>
    iside custum-input:<br>
    <custom-input :value="something" @input="something=arguments[0]"></custom-input><br>

</div>
<script>
    Vue.component('custom-input',{
        template:"<input :value='value' @input='emit($event.target.value)'>",
        props:['value'],
        methods:{
            emit:function(value){
                this.$emit('input',value)
            }
        }
    })
    new Vue({
        el:'#vmodel',
        data:{
            something:1
        }
    })
</script>

内容分发slot
<div id="slot">
    <span>hi</span>
    <child></child>
    <app></app>
</div>
<script>
    Vue.component('child',{
        template:"\
        <div>\
            <h4>这是一个子组件</h4>\
            <div>\
                <slot><p>如果没有分发内容则显示此段</p></slot>\
                <slot name='slot1'>如果没制定slot1则显示此段</slot>\
                <slot name='slot2'>如果没制定slot2则显示此段</slot>\
            </div>\
        </div>"
    })
    Vue.component('app',{
        template:"\
        <div>\
            <h3>这是一个父组件</h3>\
            <child>\
                <p>此段将slot进子组件</p>\
                <p slot='slot1'>此段将分发进slot1</p>\
            </child>\
        </div>\
        "
    })
    new Vue({
        el:'#slot'
    })
</script>

作用域插槽：使用一个可重用的模版替换已渲染的元素
子组件中插槽附带prop对象，父组件不但将内容分发进子组件，还调用此prop
也就是说子组件不但留了插槽，还留了些信息给父组件
<div id='slot1'>
    <child1></child1>
    <br>
    <app1></app1>
</div>
<script>
    Vue.component('child1',{
        template:'\
            <div>\
                这是子组件<br>\
                <slot text="hello from child" color="red">没指明slot则显示此段</slot>\
            </div>\
        '
    })
    Vue.component('app1',{
        template:'\
        <div>\
            这是父组件<br>\
            <child1>\
                <template scope="props">\
                    <span>hello from parent</span>\
                    <span style="color:props.color">{{props.text}} {{props.color}}</span>\
                </template>\
            </child1>\
        </div>\
        '
    })
    new Vue({
        el:'#slot1'
    })
</script>
列表组件
<div id='list'>
    <my-list :items="items"></my-list>
    <app2 :items="items"></app2>
</div>
<script>
    Vue.component('my-list',{
        props:["items"],
        template:'\
        <ul>\
            <slot name="list" v-for="item in items" :item="item">\
                <li>{{item.text}} (no slot)</li>\
            </slot>\
        </ul>\
        '
    })
    Vue.component('app2',{
        props:["items"],
        template:'\
            <div>\
                这是列表组件的父组件\
                <my-list :items="items">\
                    <template slot="list" scope="props">\
                        <li>{{props.item.text}} (slot)</li>\
                    </template>\
                </my-list>\
            </div>\
        '
    })
    new Vue({
        el:'#list',
        data:{
            items:[
                {text:'apple'},
                {text:'pencil'}
            ]
        }
    })
</script>







</body>
</html>
